body {
  padding-top: 1%;
  background-color: #282828;
  color: gray;
  text-align: center;
  font-family: monospace;
}

.header {
  font-size: 6vw;
  padding: 0%;
  margin: 0%;
}

.subheader {
  font-size: 50px;
  padding: 0%;
  margin: 0%;
}

.board {
  margin: 5%;
}

button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-width: 0px;
  border-radius: 25px;
  background-color: grey;

}

button:hover {
  background-color: rgb(163, 163, 163);
}

button:active {
  background-color: rgb(110, 110, 110);
}